@model FraudDetection.UI.Models.ResultFileViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Result File</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddResult" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ParentId" type="hidden" />
                <label asp-for="FileCaption" class="control-label"></label>
                <input asp-for="FileCaption" class="form-control" />
                <span asp-validation-for="FileCaption" class="text-danger"></span>
                <label asp-for="SendFile" class="control-label"></label>
                <input asp-for="SendFile" class="form-control" />
                <span asp-validation-for="SendFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
